html{
    background-color: rgb(1, 44, 1);
}
.blogs{
    background-color: white;
    display:flex;
    flex-direction: row;
    flex: 1 1 200px;
}
.introduction{
    background-color: white;
}
header{
    background-color: white;
    margin: 10px;
    padding: 20px;
}
section{
    display: flex;
    padding: 20px;
}
h4{
    padding: 5px;
}
.blogposts{
    display: flex;
}
.blogindividual{
    flex: 1 1 200px;
}
.divider{
    width: 20px;
    background-color: rgb(1,44,1);
}
h2{
    width: 120px;
    background-color: white;
}
@media (max-width:400px){
    .blogposts{
        display: flex;
        flex-direction: column;
    }
    .blogindividual{
        flex-direction: column;
        border-bottom: 40px solid rgb(1, 44, 1);
    }


}