html{
    background-color: rgb(1, 44, 1);
}
.blogs{
    background-color: white;
}
.introduction{
    background-color: white;
}
header{
    display: inline;
    background-color: white;
    margin: 10px;
}