html{
    background-color: rgb(1, 44, 1);
}
.blogs{
    background-color: white;
    display:flex;
}
.introduction{
    background-color: white;
}
header{
    background-color: white;
    margin: 10px;
}
section{
    display: flex;
}